
// Container & Breakpoints
@use 'sass:math';
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

html {
    scroll-behavior: smooth;
  }

// Container
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;

    @media (max-width: $breakpoint1450) {
        max-width: 1200px;
    }

    @media (max-width: $breakpoint992) {
        max-width: 970px;
    }

    @media (max-width: $breakpoint768) {
        max-width: 740px;
    }

    @media (max-width: $breakpoint480) {
        max-width: none;
    }
}

@font-face {
    font-family: 'VT323';
    src: url('../fonts/VT323-Regular.woff') format('woff');
    src: url('../fonts/VT323-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
// Colors
$mainColor: #000000;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: #131418;
$burgerActiveColor: #fefefe;

// Fonts
$fontMain: 'VT323', sans-serif;

// Body & Locked
body {

    font: 400 32px / 32px $fontMain;
    color: $mainColor;

    &.locked {
        overflow: hidden;
    }
    // Dark mode styles
    &.dark {
        background: #242424;
    }
}

.wrapper {
    overflow: hidden;
}

.h1 {
    font: 400 142px / 109px $fontMain;
}

.h2 {
    padding-top: 65px;
    font: 400 48px / 48px $fontMain;
}

.h3 {
    font: 400 36px / 36px $fontMain;
}


.divider {
    position: relative;

    &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #131418;
    height: 2.5px;
    width: 100%;
    display: block;
    }
}

.ellipse {
    position: absolute;
    width: 353px;
    height: 353px;
    background: #AACFFF;
    filter: blur(143.5px);
    z-index: -1;
}


// ========================= [ Header styles ] =========================
.header {
    &.fixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 2;
    }
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo {
    width: 125px;
}

// ========================== [ Menu styles ] ==========================
.menu {
    display: flex;
    gap: 30px;

    // .menu__item
    &__item {
        display: flex;
        position: relative;
        &:first-child {
            margin-right: 280px;
        }
    }

    // .menu__item-link
    &__item-link {
        color: $mainColor;
        display: flex;
        position: relative;
        transition: 0.5s color;
        &:after {
            position: absolute;
            content: '';
            left: 0;
            bottom: -3px;
            background: #131418;
            height: 1px;
            width: 100%;
            transform: scale(0);
            transition: 0.5s transform;

            // Comment if you need border animation
            display: none;
        }
        &:hover {
            color: #131418;
            &:after {
                transform: scale(1);
            }
        }
    }

    // Mobile menu styles
    @media screen and (max-width: $burgerBreakpoint) {
        position: fixed;
        background: $burgerColor;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        display: none;

        &.active {
            display: flex;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100vw;
            flex-direction: column;
            pointer-events: all;
            justify-content: center;
            align-items: center;
            z-index: 2;
            animation: fade 0.1s linear;
        }
    }
}

// ========================= [ Burger styles ] =========================
.burger {
    display: none;
    background: transparent;
    z-index: 3;
    @media screen and (max-width: $burgerBreakpoint) {
        display: flex;
        position: relative;
        height: 20px;
        width: 30px;

        &.active {
            &:before {
                background: $burgerActiveColor;
                transform: rotate(45deg);
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
                top: 8px;
            }

            &:after {
                background: $burgerActiveColor;
                transform: rotate(-45deg);
                bottom: 10px;
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
            }

            & span {
                transform: scale(0);
            }
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background: $burgerColor;
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }

        &:before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            position: absolute;
            top: 9px;
            right: 0;
            width: 100%;
            background: $burgerColor;
            height: 2px;
            transform: scale(1);
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }
    }
}

.hero {
    position: relative;
    &__ellipse1 {
        left: 98px;
        top: 335px;
    }

    &__ellipse2 {
        width: 555px;
        height: 555px;
        right: 130px;
        top: 258px;
    }

    &__container {
        padding: 150px 0 400px;
        position: relative; 
    }

    &__descr {
        max-width: 719px;
        position: absolute;
        top: 550px;
        right: 0;
    }
}



.cases {
    &__container {
        padding: 65px 0 200px; 
    }

    &__row {
        margin-top: 140px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 70px;
    }

    &__content {
        margin-top: 65px;
    }

    &__list {
        margin-top: 24px;
    }

    &__title {
        position: relative;
        &:after {
            position: absolute;
            content: '';
            top: 40px;
            left: 0;
            background: #131418;
            height: 2.5px;
            width: 100%;
            display: block;
        }
    }
}


.clients {
    position: relative;
    &__ellipse {
        right: -86px;
        top: -140px;
    }

    &__container {
        padding: 65px 0 200px; 
    }

    &__logo {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 70px;
        margin-top: 92px;
    }

    &__logo {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 70px;
        margin-top: 92px;
    }
}

//Contact
.contact {
    position: relative;
    &__ellipse {
        top: 130px;
        right: 125px;
    }
    &__text {
        margin-top: 53px;
        max-width: 966px;
        font: 400 48px / 48px $fontMain;
    }

    &__link {
        margin-top: 90px;
        display: flex;
        align-items: center;
        gap: 120px;
        position: relative;
        max-width: 300px;
    
        &:after {
        position: absolute;
        content: '';
        top: 50px;
        left: 0;
        background: #131418;
        height: 2.5px;
        width: 100%;
        display: block;
        }
    }

    &__telegram {
        color: $mainColor;
        font: 400 48px / 48px $fontMain;
    }
}

//footer 
.footer {
    margin: 250px 0 125px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__social {
        display: flex;
        gap: 22px;
    }

    &__address {
        max-width: 495px;
        font: 400 27px / 27px $fontMain;
    }
}
